# Ignored files
*~
*.suo
*.sdf
*.opensdf
bin
obj
lib
Dependencies
Builds
Data/Binaries
Data/Settings.asset
Data/.version
Data/*
!Data/.reqversion
!Data/EmptyCSScriptText.txt
!Data/EmptyShaderText.txt
!Data/Raw/
Data/Raw/*
!Data/Raw/ShaderDependencies.json
!Data/Raw/DataList.json
!Data/Raw/GUISkin.json
!Data/Raw/Shaders/
!Data/Raw/Shaders/Includes/
!Data/Raw/.reqversion
!Data/Raw/DataPackageContents.txt
Documentation/html
/Build
*.aps
*.opendb
Source/Experimental
.vs/*
Source/EditorManaged/MBansheeEditor.csproj
bsfImportToolBuild
CMakeSettings.json
