# Ignored files
*~
*.suo
*.sdf
*.opensdf
bin
obj
lib
Dependencies
Builds
Data/Binaries
Data/Settings.asset
Data/.version
Data/*
!Data/ShaderDependencies.json
!Data/EmptyCSScriptText.txt
!Data/EmptyShaderText.txt
!Data/Layout.asset
!Data/Shaders
Data/Raw/*
!Data/Raw/Shaders
Documentation/html
/Build
*.aps
*.opendb
Source/Experimental
Source/Scripting/MBansheeEngine/Generated
Source/Scripting/MBansheeEditor/Generated
.vs/*
